body{
    background-color: black;
}

#header{
    text-align: center;
    color: sandybrown;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

/*======================Evan's Section===========================*/
#evan{
    background-color: lightgray;
    border: solid 5px red;
    padding-top: 3%;

}

img:hover{
    position: relative;
}

img:hover:after{
    content: url("assets/Big\ Enough\ Cowboy.png");
    display: block;
    position: absolute;
    /*left and top values might be needed*/
}

.gallery{
    float: left;
    width: 100%;
}

.aboutTitle{
    text-align: center;
    display: block;
    margin: auto;
}

.aboutTitle h1{
    margin-bottom: 3rem;
}

.aboutText{
    text-align: center;
    margin: auto;
    display: block;
}

.textBox p{
    margin-top: 0;
    margin-bottom: 1rem;
}

/*======================Evan's Section===========================*/